@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantManagement.styles.css" asp-append-version="true" />

    <style>
        .navItems{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color:black">
            <div class="container-fluid navItems">
                
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1" >
                            <li class="nav-item" >
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index" style="color: white">Food Hut</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="ViewUsers" style="color: white">Users</a>
                            </li>                 
                        </ul>
                    </div>
                
                <ul class="navbar-nav" style="text-align:right">
                    @{
                        if(Accessor.HttpContext.Session.GetString("SUserName") != null)
                        {
                             <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                                    Manage Order
                                  </a>
                                  <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Item" asp-action="ViewAllOrders" class="nav-link" style="color: white">View-Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Item" asp-action="ViewPendingOrders" class="nav-link" style="color: white">Order Status</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="Item" asp-action="ViewPendingPayments" class="nav-link" style="color: white">Payment Status</a>
                                    </li>
                                  </ul>
                            </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Item" asp-action="AddNewItem" style="color: white">Add Items</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logout" style="color: white">Log Out</a>
                                    </li>
                        } 
                        if(Accessor.HttpContext.Session.GetString("SUserName") == null)
                        {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login" style="color: white">Login</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Create" style="color: white">Sign Up</a>
                                    </li>
                        }

                    }
                </ul>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RestaurantManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
